.stages {
    padding: 44px 0 71px;
}

.stages h2 {
    margin-bottom: 78px;
}

.stages h2:before {
    content: '';
    display: block;
    width: 73px;
    height: 5px;
    background: #F23F3F;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin: 0 auto 26px;
}

.item.itemSolid span{
    background: #F23F3F;
    color: #fff;
}

.item h3 {
    font-size: 14px;
    margin: 19px 0 0;
}

.item span {
    font-weight: 700;
    font-size: 48px;
    color: #F23F3F;
    width: 125px;
    height: 125px;
    border: 1px solid #F23F3F;
    line-height: 123px;
}

.text {
    font-size: 15px;
    margin: 100px 0 0;
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {

}

/* 767-991px */
@media screen and (max-width: 991px) {
    .item {
        margin-bottom: 50px;
    }
    .text {
        margin-top: 10px;
    }
}

/* 575-767px */
@media screen and (max-width: 767px) {
    .stages h2 {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .item span {
        width: 103px;
        height: 103px;
        line-height: 103px;
    }
}

/* 320-575px */
@media screen and (max-width: 575px) {
    .text {
        font-size: 13px;
    }
}