.header {
    padding: 50px 0 0;
}

.logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {
    .header {
        padding: 0;
    }
}

/* 767-991px */
@media screen and (max-width: 991px) {

}

/* 575-767px */
@media screen and (max-width: 767px) {

}

/* 320-575px */
@media screen and (max-width: 575px) {

}