.choice {
    padding: 45px 0 88px;
}

.choice h2 {
    max-width: 715px;
}

.choice h2:before {
    content: '';
    display: block;
    width: 73px;
    height: 5px;
    background: #F23F3F;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    margin: 0 auto 26px;
}

.item {
    padding: 107px 0 99px;
}

.icon {
    height: 66px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.choice h3 {
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 38px auto 22px;
    min-height: 75px;
}

.btn {
    font-weight: bold;
    font-size: 15px;
    width: 163px;
    padding: 10px 0 11px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(56, 56, 56, 0.4);
}

.scene {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.figureNine {
    top: 18px;
    left: 13px;
    transform: rotate(75deg);
}

.figureTen {
    top: 19px;
    left: 15px;
    transform: rotate(50.6deg);
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.circleOne {
    top: 162px;
    left: -24px;
    width: 29px;
    height: 29px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleTwo {
    top: 59px;
    left: 129px;
    width: 37px;
    height: 37px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleThree {
    top: 30px;
    left: 188px;
    width: 17px;
    height: 17px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleFour {
    top: 107px;
    left: 408px;
    width: 30px;
    height: 30px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleFive {
    top: 351px;
    left: 82px;
    width: 38px;
    height: 38px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleSix {
    top: 314px;
    left: 12px;
    width: 15px;
    height: 15px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleSeven {
    top: 123px;
    left: -3px;
    width: 39px;
    height: 39px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleEight {
    top: 51px;
    left: 277px;
    width: 16px;
    height: 16px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleNine {
    top: 75px;
    left: 311px;
    width: 40px;
    height: 40px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleTen {
    top: 187px;
    left: 456px;
    width: 28px;
    height: 28px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleEleven {
    top: 316px;
    left: 431px;
    width: 26px;
    height: 26px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleTwelve {
    top: 351px;
    left: 372px;
    width: 19px;
    height: 19px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleThirteen {
    top: 134px;
    left: -19px;
    width: 39px;
    height: 39px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleFourteen {
    top: 62px;
    left: 261px;
    width: 16px;
    height: 16px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleFifteen {
    top: 85px;
    left: 294px;
    width: 40px;
    height: 40px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleSixteen {
    top: 197px;
    left: 441px;
    width: 28px;
    height: 28px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleSeventeen {
    top: 327px;
    left: 416px;
    width: 26px;
    height: 26px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleEighteen {
    top: 362px;
    left: 356px;
    width: 19px;
    height: 19px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleNineteen {
    top: 64px;
    left: 52px;
    width: 35px;
    height: 35px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleTwenty {
    top: -13px;
    left: 174px;
    width: 29px;
    height: 29px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleTwentyOne {
    top: 82px;
    left: 311px;
    width: 35px;
    height: 35px;
    background: linear-gradient(217.52deg, #F23F3F 10.55%, #BE2F2F 82.48%);
}

.circleTwentyTwo {
    top: 179px;
    left: 440px;
    width: 12px;
    height: 12px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

.circleTwentyThree {
    top: 332px;
    left: 390px;
    width: 25px;
    height: 25px;
    background: linear-gradient(217.52deg, #36C858 10.55%, #23933D 82.48%);
}

.circleTwentyFour {
    top: 304px;
    left: 352px;
    width: 12px;
    height: 12px;
    background: linear-gradient(217.52deg, #ABC9F4 10.55%, #3978D3 82.48%);
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {

}

/* 767-991px */
@media screen and (max-width: 991px) {

}

/* 575-767px */
@media screen and (max-width: 767px) {
    .choice {
        padding: 25px 0 75px;
    }
}

/* 320-575px */
@media screen and (max-width: 575px) {
    .item {
        max-width: 275px;
        padding: 55px 0;
    }
    .icon {
        height: 55px;
    }
    .choice h3 {
        font-size: 17px;
        margin: 15px auto 3px;
        min-height: 70px;
    }
    .btn {
        width: 145px;
        font-size: 13px;
        padding: 9px 0 10px;
    }
    .figureNine {
        width: 285px;
        top: 10px;
        left: -12px;
    }
    .figureTen {
        width: 285px;
        left: -10px;
    }
    .circleOne {
        left: -10px;
        width: 19px;
        height: 19px;
    }
    .circleTwo {
        top: 83px;
        left: 66px;
        width: 24px;
        height: 24px;
    }
    .circleThree {
        top: 54px;
        left: 83px;
        width: 10px;
        height: 10px;
    }
    .circleFour {
        top: 64px;
        left: 234px;
        width: 20px;
        height: 20px;
    }
    .circleFive {
        top: 265px;
        width: 24px;
        height: 24px;
    }
    .circleSix {
        top: 262px;
        left: 28px;
        width: 9px;
        height: 9px;
    }
    .circleSeven {
        top: 263px;
        left: 67px;
        width: 25px;
        height: 25px;
    }
    .circleEight {
        top: 95px;
        left: 62px;
        width: 9px;
        height: 9px;
    }
    .circleNine {
        top: 64px;
        left: 70px;
        width: 24px;
        height: 24px;
    }
    .circleTen {
        top: 28px;
        left: 176px;
        width: 17px;
        height: 17px;
    }
    .circleEleven {
        top: 53px;
        left: 224px;
        width: 16px;
        height: 16px;
    }
    .circleTwelve {
        top: 92px;
        left: 238px;
        width: 12px;
        height: 12px;
    }
    .circleThirteen {
        top: 71px;
        left: 8px;
        width: 24px;
        height: 24px;
    }
    .circleFourteen {
        top: 76px;
        left: 186px;
        width: 10px;
        height: 10px;
    }
    .circleFifteen {
        top: 92px;
        left: 199px;
        width: 24px;
        height: 24px;
    }
    .circleSixteen {
        left: 242px;
        width: 16px;
        height: 16px;
    }
    .circleSeventeen {
        top: 261px;
        left: 217px;
        width: 16px;
        height: 16px;
    }
    .circleEighteen {
        top: 265px;
        left: 158px;
        width: 12px;
        height: 12px;
    }


    .circleNineteen {
        top: 83px;
        left: -5px;
        width: 26px;
        height: 26px;
    }
    .circleTwenty {
        top: 22px;
        left: 83px;
        width: 21px;
        height: 21px;
    }
    .circleTwentyOne {
        left: 184px;
        width: 26px;
        height: 26px;
    }
    .circleTwentyTwo {
        left: 256px;
        width: 9px;
        height: 9px;
    }
    .circleTwentyThree {
        top: 290px;
        left: 225px;
        width: 18px;
        height: 18px;
    }
    .circleTwentyFour {
        top: 262px;
        left: 201px;
        width: 9px;
        height: 9px;
    }
}