.graphDesigner {
    padding: 85px 0;
}

.graphDesigner h1 {
    font-size: 30px;
    margin: 0;
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {
    .graphDesigner {
        padding-top: 130px;
    }
}

/* 767-991px */
@media screen and (max-width: 991px) {
    .graphDesigner h1 {
        font-size: 27px;
    }
}

/* 575-767px */
@media screen and (max-width: 767px) {
    .graphDesigner {
        padding-top: 100px;
    }
    .graphDesigner h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/* 320-575px */
@media screen and (max-width: 575px) {
    .graphDesigner {
        padding-bottom: 60px;
    }
    .graphDesigner img {
        max-height: 300px;
    }
}