.programmer {
    padding: 85px 0;
}

.programmer h1 {
    font-size: 32px;
    margin: 0;
}

.programmer img {
    max-height: 440px;
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {
    .programmer {
        padding-top: 130px;
    }
    .programmer img {
        max-height: 300px;
    }
}

/* 767-991px */
@media screen and (max-width: 991px) {
    .programmer h1 {
        font-size: 27px;
    }
}

/* 575-767px */
@media screen and (max-width: 767px) {
    .programmer {
        padding-top: 100px;
    }
    .programmer h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .programmer img {
        max-height: 260px;
    }
}

/* 320-575px */
@media screen and (max-width: 575px) {
    .programmer {
        padding-bottom: 60px;
    }
}