.acceleratedLearningOffer {
    padding: 85px 0 20px;
}

.text {
    margin-top: 65px;
}

.acceleratedLearningOffer p {
    line-height: 1.25em;
}

.acceleratedLearningOffer p:not(:last-child) {
    margin-bottom: 21px;
}

/* ------- Media Queries ------- */

/* 991-1199px */
@media screen and (max-width: 1199px) {
    .acceleratedLearningOffer {
        padding-top: 130px;
    }
    .acceleratedLearningOffer h1 {
        font-size: 26px;
    }
    .text {
        margin-top: 50px;
    }
}

/* 767-991px */
@media screen and (max-width: 991px) {
    .acceleratedLearningOffer h1 {
        font-size: 20px;
    }
    .acceleratedLearningOffer p {
        font-size: 16px;
    }
}

/* 575-767px */
@media screen and (max-width: 767px) {
    .acceleratedLearningOffer {
        padding-top: 100px;
    }
    .acceleratedLearningOffer h1 {
        margin-bottom: 20px;
    }
    .text {
        margin-top: 30px;
    }
    .acceleratedLearningOffer p {
        font-size: 15px;
    }
    .acceleratedLearningOffer p:not(:last-child) {
        margin-bottom: 16px;
    }
}

/* 320-575px */
@media screen and (max-width: 575px) {
    .acceleratedLearningOffer {
        padding-bottom: 10px;
    }
    .acceleratedLearningOffer h1 {
        width: fit-content;
        font-size: 14px;
    }
    .acceleratedLearningOffer p {
        font-size: 13px;
    }
    .acceleratedLearningOffer p:not(:last-child) {
        margin-bottom: 10px;
    }
    .acceleratedLearningOffer img {
        max-height: 200px;
    }
}